@charset "UTF-8";

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font: 16px Helvetica, Arial; 
}

.menuBar li a img {
	height:32px;
	width:32px;
	padding-bottom:10px;
}

.link a:hover {
	background:#dddddd;
	color:#111111;
}

.menuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menuBar li {
    float: left;
}

.menuBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link li a:hover {
    background-color: #111;
}

.sectionNav {
	width:auto;
	float:left;
	border-right: 2px #bbb solid;
}

.sectionNav li {
	display:block;
	padding:5px 25px 5px 10px;
}

.info {
	width:auto;
	display:inline-block;
	padding:5px 25px 5px 10px;
}

.contactPane {
	width:200px;
	height:100%;
	color:#333;
	float:right;
	border-left: 2px #bbb solid;
}

.contactPane li {
	display:block;
	padding:5px 25px 5px 10px;
}